ul {
    float: right;
    list-style: none;
    margin: 0;
    padding-right: 100px;
}

li {
    display: inline-block;
    margin-left: 70px;
    margin-top: 10px;
    position: relative;
}

li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

    li a:hover {
        color: #003cb3;
    }
        

.logo {
    float: left;
}

.nav {
    background:linear-gradient(-45deg,#f1b035,#ff6633,#e63900,#b32d00);
}

.container {
    width: 100%;
}

div::after {
    content: '';
    display: table;
    clear: both;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Antonio', sans-serif;
}

div a::before {
    content: '';
    display: block;
    height: 4px;
    background-color: #003cb3;
    position: absolute;
    top: -10px;
    width: 0%;
    transition: all ease-in-out 250ms;
}

div a:hover::before {
    width: 100%;
}
.white{
    width: 100%;
    height: 100px;

}
.column {
    float: left;
    width: 23%;
    padding: 1px;
  
  }
  .column1 {
    float: left;
    width: 23%;
    padding: 1px;
    margin-left: 135px;
  
    
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
 figcaption{
   
     font-weight:bold;
     font-size: 25px;
     margin-left: 55px;
     
 }
 .white1{
    width: 100%;
    height: 50px;

}
h1{
   text-align: center;
}
p{
    text-align: center;
}